/*------------------------------------
------------- Global Styles  ---------
--------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background-color: #edd263;
  color: #3b2d64;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/*------------------------------------
------------- Header Styles  ---------
--------------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 20px 10px;
}

.nav-menu a {
  font-weight: 500;
  margin-left: 20px;
}

.nav-menu a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/*------------------------------------
-------- Search Area Styles  ---------
--------------------------------------*/

#search-area {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
}

#icon-search {
  position: relative;
  top: 17px;
  font-size: 18px;
  left: 40px;
  color: rgba(128, 128, 128, 0.2);
  width: 24px;
}

#search-area input[type="text"] {
  width: 450px;
  height: 50px;
  border: none;
  padding: 20px;
  padding-left: 40px;
  border-radius: 5px;
}

#search-area button {
  border: none;
  outline: none;
  width: 100px;
  background-color: #3b2d64;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------------------
-------- Meal item Styles  ---------
--------------------------------------*/
.meal-result {
  margin-top: 50px;
}

#meal-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/*----------------- 
----Media query-----
-------------------*/
@media (max-width: 500px) {
  #meal-list {
    padding: 0 100px;
  }
}

img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  margin-bottom: 20px;
}

.meal-item {
  padding: 10px;
  background-color: #fff;
  width: 280px;
  border-radius: 15px;
}

.meal-item h3 {
  text-align: center;
}

/*------------------------------------
-------- Showing Recipe Styles  ---------
--------------------------------------*/

.showRecipe {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  display: block;
}

.meal-details {
  margin-top: 30px;
}

/*------------------------------------
-------- Recipe item Styles  ---------
--------------------------------------*/
.recipe-category {
  margin: 15px;
}

.recipe-instruct h3 {
  margin-bottom: 15px;
}
.recipe-instruct p {
  margin: 5px;
}

.recipe-instruct i {
  padding-right: 5px;
}

/*------------------------------------
-------- Not found Styles  ---------
--------------------------------------*/
.notFound {
  grid-template-columns: 1fr !important;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/*------------------------------------
-------- Then End  ---------
--------------------------------------*/
